:root {
  --gradient: linear-gradient(to bottom, #00f, transparent);
}

/* @font-face {
  font-family: 'AnotherDanger';
  src: url('/assets/AnotherDanger.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'AnotherDanger';
} */

body {
  --sb-track-color: #000;
  --sb-thumb-color: var(--gradient);
  --sb-size: 0.7vmax;
  min-height: 100vh;
  height: max-content;
  width: 100%;
  overflow-x: hidden;
  background-image: url('/assets/background.svg');
  background-size: contain;
  display: flex;

  .graphic {
    width: 50%;
    height: 100vh;
    padding: 2vmax;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    position: relative;

    .graphic-message {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1vmax;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

a,
button,
img {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

/***************************SCROLL***************************/

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
